.container {
    padding: 0;
    margin : 0;
    height : 95%;
}

.content-header {
    padding: .8rem 0 .8rem 0;
}

.content-wrapper>.content-header>h1 {
    font-size: 1.5rem;
    margin   : 0;
}

@media (min-width: 769px) {
    .container {
        padding-left: 14rem;
        transition  : padding-left .3s ease-in-out;
        width       : 100%;
        min-width   : 100%;
    }

    .container-not-expanded {
        padding-left: 4rem;
        width       : 100%;
        transition  : padding-left .3s ease-in-out;
    }

    .content-wrapper {
        background-color: #ecf0f5;
        min-height      : 100%;
    }
}

@media (max-width: 768px) {
    .container {
        width     : 100%;
        transition: margin-left .3s ease-in-out;
    }

    .container-not-expanded {
        width     : 100%;
        transition: margin-left .3s ease-in-out;
    }

    .content-wrapper {
        background-color: #ecf0f5;
        min-height      : 100%;
        min-width       : 100%;
    }
}

