.box-header {
    color        : #444;
    display      : block;
    padding      : 10px;
    position     : relative;
    border-bottom: 1px solid #ddd;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display    : inline-block;
    font-size  : 18px;
    margin     : 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right   : 10px;
    top     : 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left : auto;
}

.box-body.p-3>button:hover {
    background-color: #3C8DBC;
}

.btnEditarCambio:hover {
    background-color: #3C8DBC;
}

/* Estilos modal */

.bg-primary-custom {
    background: #3c8dbc;
}

@media (min-width: 768px) {
    .modal.fade.show>div>div>div>.modal-title {
        padding-left: 8rem;
    }
}

.input-group-addon {
    border: 1px solid #ccc;
}

.input-container {
    display: flex;
    width  : 100%;
}

.icon {
    padding   : 10px;
    min-width : 50px;
    text-align: center;
}

.input-field {
    width  : 100%;
    padding: 10px;
    outline: none;
    border : 1px solid #ccc;
}

.input-field:focus {
    border: 2px solid rgb(0, 0, 0);
}

