@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.css';
@import '/node_modules/vanillajs-datepicker/dist/css/datepicker.min.css';

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #ecf0f5;
}

.table.responsive{
    width: 100% !important;
}


.bg-primary-custom {
    background: #3c8dbc;
}

.input-group-prepend {
    min-width: 2.75rem;
}

.text-indent-1 {
    text-indent: .5rem;
}

.modal-title-1 {
    padding-left: 6rem !important;
}

.modal-title-2 {
    padding-left: 9rem !important;
}

.modal-title-3 {
    padding-left: 10rem !important;
}

.modal-title-4 {
    padding-left: 11rem !important;
}

.bg-black-custom {
    background-color: #383838 !important;
    color: white;
}

.bg-blue-custom {
    background-color: #1b79bf !important;
    color: white;
}

.bg-green-custom {
    background-color: #18864f !important;
    color: white;
}

@media (min-width: 768px) {
    .modal-dialog {
        min-width: 700px;
    }
}
