@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '~datatables.net-responsive-bs5/css/responsive.bootstrap5.css';
@import '/node_modules/vanillajs-datepicker/dist/css/datepicker.min.css';

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #ecf0f5;
}

.table.responsive{
    width: 100% !important;
}


.bg-primary-custom {
    background: #3c8dbc;
}

@media (min-width: 768px) {
    .modal.fade>div>div>div>.modal-title {
        padding-left: 8rem;
    }
}

.input-group-prepend {
    min-width: 2.75rem;
}

.text-indent-1 {
    text-indent: .5rem;
}

.modal-title-1 {
    padding-left: 6rem !important;
}

.modal-title-2 {
    padding-left: 9rem !important;
}

.modal-title-3 {
    padding-left: 10rem !important;
}

.modal-title-4 {
    padding-left: 11rem !important;
}
